* {
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  padding: 20px 40px;
  color: white;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  justify-content: space-between;
  z-index: 10; /* stays on top of other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional subtle shadow */
}


.nav-links {
  list-style: none;
  flex: 1;
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
}



.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 300px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #999;
  background-color: #3a3a3a;
  color: white;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
}

.profile-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.news-logo {
  cursor: pointer;
  transition: filter 0.2s ease;
}

.nav-links li:hover, 
.news-logo:hover,
.profile-logo:hover {
  color: #00bfff;
  filter: invert(32%) sepia(82%) saturate(4091%) hue-rotate(180deg) brightness(99%) contrast(94%);
}