/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./styles/NewsCard.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.news-image {
    width: 300px;
    height: 200px;
}

.news-card {
    max-width: 350px;
    max-height: 550px;
    padding: 10px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./styles/NewsFeed.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.news-feed {
    width: 66.6%;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
