html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top:90px;
}

h2 {
  justify-content: center;
  align-content: center;
}